{{#each this}}
<h3>{{name}}</h3>
    <img src={{flag}}
    alt={{name}} width=300 hight=200/>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages: 
        <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
    </p>
    {{/each}}